{% extends "blog/base.html" %}

{% block content %}
    <h1>Регистрация</h1>
                
    {% for error in form.username.errors %}
        <p style="color: red;">{{ error }}</p>
    {% endfor %}
    {% for error in form.password.errors %}
        <p style="color: red;">{{ error }}</p>
    {% endfor %}
    {% for error in form.password2.errors %}
        <p style="color: red;">{{ error }}</p>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="post" action="">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td class="login_label login_form">{{ form.username.label }}</td>
                <td class="login_input login_form">{{ form.username(size=30) }}</td>
            </tr>
            <tr>
                <td class="login_label login_form">{{ form.password.label }}</td>
                <td class="login_input login_form">{{ form.password(size=30) }}</td>
            </tr>
            <tr>
                <td class="login_label login_form">{{ form.password2.label }}</td>
                <td class="login_input login_form">{{ form.password2(size=30) }}</td>
            </tr>
            <tr>
                <td></td>
                <td class="login_input login_form">
                    <input class="btn btn-default" type="submit" value="Зарегистроваться"/>
                </td>
            </tr>
        </table>        
    </form>
{% endblock %}