{% extends 'blog/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Новая статья</h1>
    <form method="POST" class="post-form">
        {{ form.csrf_token() }}
        <p>
            {{ form.title.label }}
            {{ form.title(maxlength="200") }}
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.text.label }}
            {{ form.text(cols="40", rows="10") }}
            {% for error in form.text.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <button type="submit" class="save btn btn-default">Сохранить</button>
    </form>
{% endblock %}
