{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="top_post_detail">
            <div class="date_post_detail">
                {% if post.published_date %}
                    <div class="date">
                        {{ post.published_date|datetime_str_format }}
                    </div>
                {% else %}
                    <a class="btn btn-default" href="{{ url_for('post_publish', primary_key=post._id) }}">Опубликовать</a>
                {% endif %}
                {% if True %}
                    <a class="btn btn-default" href="{{ url_for('post_edit', primary_key=post._id) }}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{{ url_for('post_remove', primary_key=post._id) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                {% endif %}
            </div>
        </div>
        <h1>{{ post.title }}</h1>
        <p class="post_white_space">{{ post.text }}</p>
    </div>
{% endblock %}