{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="top_post_detail">
            <div class="date_post_detail">
                {% if post.published_date %}
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                {% else %}
                    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Опубликовать</a>
                {% endif %}
                {% if user.is_authenticated %}
                    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                {% endif %}
            </div>
        </div>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}