.page-header {
    background-color: #383DBF;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
    display: inline-block;
}

.date_post_detail {
    float: right;
}

.top_post_detail {
    height: 30;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-top: 35px;
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.page_error {
    color: #000000;
    text-align: center;
}

.page_error h1 a, .page_error h1 a:hover, .page_error h1 a:visited {
    color: #383DBF;
}

.btn {
    height: 30;
}

.login_form {
    padding: 5px;
}

.login_label {
    font-family: 'Lobster', cursive;
    font-size: 16pt;
}

.login_input input{
    width: 100%;
}